@import '../assets/variable.scss';


.county-map {
  display: flex;
  flex-direction: column;

  .map-sider {
    display: flex;
    flex-direction:column;
    position: absolute;
    bottom: 130px;
    right: 5%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 3px;
    padding: 10px;
    z-index: 999;
    box-shadow: $shadow;
    width: 250px;
  }


  #map-legend {
    display: flex;
    flex-direction: column;
  }

  .legend-block {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .legend-color {
    display:inline-block;
    height: 20px;
    width: 30px;
  }


  .legend-value {
    font-size: 12px;
    margin-left: 10px;

  }

 .legend-value:nth-of-type(1){
   display: inline-block;
   background-color: red;
 }

  .legend-color::before {
    content: "";
    height: 20px;
    width: 20px;
  }

  .main-map {
    width: 100%;
  }

  .map-holder {
    height: 600px;
    width: 100%;
    position: relative;
    top: 88px;
  }

  input[name=toggle]{
    display: none;
  }

  .map-buttons {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 80px;
    z-index: 800;
  }

  .map-buttons label {
    padding: 5px;
    margin: 0 10px 0 10px;
    cursor: pointer;
    border: 0;
  }

  .radio-label {
    background: white;
    padding: 10px;
    box-shadow: $shadow;

    &:hover{
      border-bottom: 2px solid $second-accent;
    }
  }
}

