@import '../assets/variable.scss';

.details-section {
  margin-top: 150px;
  padding: 0 80px;
}

.details-head {
  display: flex;
  justify-content: center;
}

.chart-section {
  padding: 20px 0;
  display: flex;
  flex-direction: column;
}

.chart-subhead {
  display: flex;
  flex-direction: row;
}


.chart-holder {
  display: flex;
  justify-content: space-between;
}

