@import '../assets/variable.scss';


.header {
  height: 75px;
  box-shadow: $shadow;
  width: 100%;
  border-top: 10px solid $main-accent;
  z-index: 1000;
  position: absolute;

  img {
    height: 65px;
  }
}