@import '../assets/variable.scss';


.display-block {
  display: block;
}

.display-none {
  display: none;
}

.card {
  position: absolute;
  top: 130px;
  right: 5%;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 3px;
  padding: 10px;
  z-index: 999;
  box-shadow: $shadow;
  width: 250px;
}